#top {
    background-color: #181a1b;
}

#disconnect {
    float: right;
    position: relative;
    margin-right: 5px;
    padding: 3px 10px 3px 10px;
}

#users {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.principal_card {
    width: 160px;
    height: 240px;
    border: 1px solid grey;
    background-color: #181a1b;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}

.card {
    width: 160px;
    height: 240px;
    border: 1px solid grey;
    background-color: #181a1b;
    border-radius: 10px;
    padding: 10px;
}

.card .badge {
    position: absolute;
    right: -3px;
    top: -3px;
    text-align: center;
    color: rebeccapurple;
}

.cards {
    max-width: 99%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.selected {
    border: 1px solid rebeccapurple;
}

.finished {
    background-color: #3c6255;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

.user {
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

.turn {
    background-color: #6c00ff;
}

.you {
    color: #fd8a8a;
}
